p{
    margin-right: 40px;
}

.x:hover{
    transform: scale(1.2);
    border-radius: 20px !important;
    text-decoration: none !important;
    cursor: pointer;
   
}

.x{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px !important;
    text-decoration: none !important;
}


.lead{
    font-size: 8px !important;

}