p{
    margin-right: 40px;
}

.x:hover{
    transform: scale(1.5);
    border-radius: 20px !important;
    text-decoration: none !important;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px #D1DAED;
    padding: 20px 20px;
   
}

.x{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px !important;
    text-decoration: none !important;
    margin-right: 35px;
}

.xactive{
    transform: scale(1.3);
    border-radius: 20px !important;
    text-decoration: none !important;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px #D1DAED;
    padding: 10px 20px;

}

.lead{
    font-size: 8px !important;

}

.d:hover{
    text-decoration: none !important;
}

.d{
    font-size: 10px !important;
}