p{
    margin-right: 40px;
}

.x:hover{
    background-color: #F48FB1    ;
    border-radius: 20px !important;
    color: white !important;
    text-decoration: none !important;
   
}


.lead{
    font-size: 14px !important;
}