
.touch:hover{

    background-color: green !important;
	animation: pulse 0.9s infinite !important;
}

@keyframes pulse {
	0% {
		transform: scale(0.6);
		
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.6);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}